body
  padding: 15px
  font-size: 14px
  -webkit-text-size-adjust: 100%

hr.line
  margin: 15px 0
  height: 1px
  background-size: 480px 1px


#header
  margin: 40px 0 50px

#logo
  img
    width: 125px
    height: 22.4px

#menu
  display: none


.entry
  margin: 15px 0 10px

  .featured-image
    margin: 0 -15px -8px
    .border
      margin: 15px
      border-width: 3px
      border-radius: 6px


  .inner
    border-width: 3px
    border-radius: 6px
    padding: 10px 20px

    h1.title
      margin-top: 10px
      margin-bottom: 3px
      font-size: 15px
    .date
      margin-bottom: 12px
      font-size: 11px
    .body
      p, table
        margin: 15px 0
      .award, .credit
        th, td
          display: block
          text-align: left
        th
          margin-top: 10px
          margin-bottom: 3px
          font-size: 14px
        td
          font-size: 12px
        img
          max-height: 30px
          margin-right: 15px

