html
   head
      link(href='styles/main.css', rel='stylesheet', type='text/css')
   body
      #container
         a#logo
            img(src='images/logo.svg', width=190)
         img(src='images/menu.svg', width=960)
      script(type='text/javascript', src='scripts/bundle.js')
