@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css)

*
  box-sizing: border-box

html, body
  margin: 0
  padding: 0
  color: #333
  font: normal 400 17px/30px 'Noto Sans Japanese', serif
  letter-spacing: 0.04em

iframe
  border: none


#dots
  position: fixed
  left: 0
  top: 0
  width: 100%
  height: 100%
  overflow: hidden
  background-image: url(/_tmp/dots.png)
  z-index: 1000
  pointer-events: none


#container
  position: relative
  width: 960px
  margin: 60px auto

#header
  position: relative
  z-index: 2000

#logo
  display: block
  width: 100%
  margin-bottom: 20px
  img
    display: block
    margin: 0 auto

#menu
  display: block
  margin: 50px 0
  padding: 0
  text-align: center
  li
    display: inline-block
    list-style: none
    font: bold 20px "Netto OT"
    margin: 0 30px
    a
      text-decoration: none
      color: #333


hr.line
  margin: 30px 0
  border: none
  width: 100%
  height: 2px
  background-image: url(/images/line.png)

.entry
  position: relative
  z-index: auto
  margin: 30px

  a
    padding: 3px 0
    color: #333
    text-decoration: none
    border-bottom: 1px solid #333
    &:hover, &:visited, &:link, &:active
      color: #333

  .featured-image
    position: relative
    z-index: 100
    height: 430px
    background-size: cover
    overflow: hidden
    margin: 0 -30px -30px

    .border
      height: 100%
      margin: 30px 30px 0
      border: 4px solid transparent
      border-radius: 10px

  .inner
    position: relative
    z-index: auto
    padding: 30px 0
    background-color: transparent
    border: 4px solid transparent
    border-radius: 10px
    overflow: hidden
    transform: translateZ(0)
    //transition: all 0.1s linear

    h1.title
      margin: 30px auto 0
      font-weight: 400
      font-size: 22px
      text-align: center

    .date
      display: block
      margin-bottom: 20px
      font-size: 15px
      text-align: center

    .body
      width: 768px
      margin: 0 auto
      padding: 0
      font-weight: 300
      //display: none

      p
        margin: 20px 0

  &:hover
    z-index: 2000

    .featured-image
      .border
        border-color: #333
        transition: all 0.1s ease-out

    .inner
      background-color: white
      border-color: #333
      transition: all 0.1s ease-out

    //.body
    //  display: block
    //  transition: all 0.3s


.notfound
  display: block
  text-align: center
  margin: 200px 0


.clearfix:before,
.clearfix:after
  content: " "
  display: table
.clearfix:after
  clear: both
